{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "tabWidth": 4
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
