---
import Navbar from "./Navbar.astro";
import heroVideo from "../assets/video-ab.mp4";
---

<section class="relative h-screen">
  <video 
    class="w-full h-full object-cover" 
    src={heroVideo} 
    autoplay 
    muted 
    loop 
    playsinline
  ></video>
  <div class="absolute inset-0 flex flex-col justify-center text-white bottom-32 ml-32" >
    <h1 class="font-anton text-[10rem] tracking-[7rem]">
      nexus
    </h1>
    <p class="font-raleway text-3xl font-bold tracking-[2.5rem] text-white">
    - DISEÑO WEB -
    </p>
  </div>
  <Navbar  />
</section>
