---
import Navbar from "../components/Navbar.astro";
import heroVideo from "../assets/video-ab.mp4";
---

<section class="relative h-screen">
    <video
        class="w-full h-full object-cover"
        src={heroVideo}
        autoplay
        muted
        loop
        playsinline></video>
    <div
        class="flex flex-col-reverse justify-end mt-8 absolute inset-0 sm:flex sm:flex-row sm:justify-center xl:gap-36 sm:gap-18 items-center text-white bottom-32"
    >
        <h1
            class="mt-28 sm:mt-0 text-white font-anton text-8xl tracking-widest xl:text-[12rem] sm:text-[7.5rem] md:text-[10rem] lg:tracking-[4.7rem] sm:tracking-[1.7rem]"
        >
            PHYRO
        </h1>
        <div
            class="border-4 p-3 rounded-md mt-6 sm:mt-0 border-gray-500"
        >
            <p
                class="font-raleway xl:text-3xl sm:text-lg tracking-[0.2rem] text-[#4392dc]"
            >
                - DISEÑO WEB -
            </p>
            <p
                class="font-raleway text-center text-lg xl:text-3xl sm:text-lg tracking-[0.2rem] text-[#ffd153]"
            >
                CREATIVO
            </p>
        </div>
    </div>
    <Navbar />
</section>
