---
import Navbar from "./Navbar.astro";
import heroVideo from "../assets/video-ab.mp4";
---

<section class="relative h-screen">
  <video 
    class="w-full h-full object-cover" 
    src={heroVideo} 
    autoplay 
    muted 
    loop 
    playsinline
  ></video>
  <div class="absolute inset-0 flex justify-center gap-36 items-center text-white bottom-32" >
    <h1 class="font-anton text-[9rem] tracking-[5rem]">
      PHYRO
    </h1>
    <div class="border-4 p-3 rounded-md">
      <p class="font-raleway text-3xl font-bold tracking-[0.2rem] text-[#6cadd2]" >
      - DISEÑO WEB -
      </p>
      <p class="font-raleway text-center text-3xl font-bold tracking-[0.2rem] text-[#ffd153]" >CREATIVO</p>
    </div>
  </div>
  <Navbar  />
</section>
