
<nav class="font-anton text-4xl w-full bg-black bg-opacity-70 backdrop-blur-[0.5rem] py-12">
    <ul class="flex justify-between mx-12">
      <li class="relative">
         <a href="#hero" class="tracking-wider uppercase">Inicio</a>         
         <span class="absolute top-[-2rem] left-0 text-xl tracking-widest text-[#00E4F0]">01</span>
      </li>
      <li class="relative">
        <a href="#about-us" class="tracking-wider uppercase">Nosotros</a>
        <span class="absolute top-[-2rem] left-0 text-xl tracking-wider text-[#00E4F0]">02</span>
      </li>
      <li class="relative">
        <a href="#services" class="tracking-wider uppercase">Servicios</a>
        <span class="absolute top-[-2rem] left-0 text-xl tracking-wider text-[#00E4F0]">03</span>
      </li>
      <li class="relative">
        <a href="#contact" class="tracking-wider uppercase">
          Contacto
        </a>
        <!-- Número 04 sobre Contacto -->
        <span class="absolute top-[-2rem] left-0 text-xl tracking-wider text-[#00E4F0]">04</span>
      </li>
    </ul>
 </nav>
 