---
const pageTitle = "Nosotros"
---
<div
    class=" flex items-center justify-between py-8 text-lg"
>
    <div class="flex items-center ">
        <a
            href="/"
            class="flex items-center text-gray-800 hover:underline"
        >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12"               
            viewBox="0 0 24 24"
            >
            <path d="M12 18l-7-7 7-7"></path>
        </svg>
            Volver
        </a>
    </div>

    <!-- Texto 'Nosotros' centrado -->
    <div class="text-center">
        <p
            class="text-gray-700 font-raleway"
        >
            - {pageTitle} -
        </p>
    </div>

    <!-- Elemento vacío para alinear correctamente en el flex container -->
    <div class="w-16"></div>
</div>
